{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/1.png') }} ')">
    <div class="overlay"></div>
    <div class="container" style="height: 200px">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
 <link href="{{url_for('static', filename = 'css/scrolling-nav.css')}}" rel="stylesheet">


    
    <div class="col-md-6">
                <div class="new-area no-padding blank border m-4 p-3">
                  
  <h2 class="text-center">User Reviews</h2>
  
  <div class="card">
      <div class="card-body">
          <div class="row">
             
          </div>
            <div class="card card-inner">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-2">
                              <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                              <p class="text-secondary text-center">Date</p>
                          </div>
                          <div class="col-md-10">
                              <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Reviewer Name</strong></a></p>
                              <p >{{value}}</p>
                              <p class="p-4">
                                  <a class="float-right  btn btn-warning outline-primary ml-2 btn-md">  Score: {{prob}}%</a>
                                  
                                  {% if sentiment == 1%}
                                  <a class="float-right btn text-white btn-success btn-md"> <i class="fa fa-heart"></i> Positive Review</a>
                                  {% elif sentiment == 0%}
                                  <a class="float-right btn text-white btn-danger btn-md"> <i class='fas fa-angry'></i> Negative Review</a>

                                  {% endif %}
                             </p>
                          </div>
                      </div>
                  </div>
              </div>


{% if prediction == 1%}
  <h2 style="color:red;">It is a Positive Review and the predicted Score is = {{score}} %</h2>
  {% elif prediction == 0%}
  <h2 style="color:blue;">It is a Negative Review and the predicted Score is = {{score}} %</h2>
  {% endif %}


      </div>
  </div>
              </div><!-- Widget Area -->
            </div>
        
    


{% endblock %}